exports.ssl_cert = "";
exports.ssl_key = "";
//exports.ssl_ca = [""];

exports.log_level = "debug";

exports.cache_servers = ["127.0.0.1"];
exports.control_servers = ["http://127.0.0.1:8090"];

exports.conn_keepalive = 30000;
exports.conn_timeout = 20 * 60 * 1000;

exports.json_port = 3148;
//exports.json_port_ssl = 3448;
exports.socket_io_port = 8048;
//exports.socket_io_port_ssl = 8448;
exports.socket_io_transports = ["websocket"];

exports.metrics_port = 81;
