exports.ssl_cert = "/etc/ssl/certs/floobits.com-wildcard.crt";
exports.ssl_key = "/etc/ssl/private/floobits.com-wildcard.key";
exports.ssl_ca = ["/etc/ssl/certs/startssl-sub.class2.server.ca.pem"];

exports.log_level = "debug";

exports.cache_servers = ["web00.flint:11211"];
exports.control_servers = ["http://mdb00.flint"];

exports.conn_keepalive = 30000;
exports.auth_timeout = 10000;

exports.json_port = 3148;
exports.json_port_ssl = 3448;
exports.engine_io_port = 80;
exports.engine_io_port_ssl = 443;
exports.engine_io_transports = ["websocket"];

exports.metrics_port = 81;

exports.colab_ssl = true;
